#home {
  display: flex;
  flex-direction: column;
}

#home img {
  margin: 20px;
  width: 100%;
}

.profile-about {
  font-size: 14px;
}

.author-name {
  font-size: 30px;
  font-weight: 600;
}

.sidebar-nav li {
  font-size: 20px;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

#blog > h1 a, .blog-list h3 {
  color: #DAB600;
}

#about a span {
  color: #000000;
  padding-left: 5px;
}

#about .skills li {
  list-style-type: none;
}

#about .skills span {
  font-weight: 500;
}
img[alt=portrait] { width: 200px; }

.social li a {
  font-size: 30px;
}
